<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.KintaiHistoryMapper">

	<insert id="insert">
		insert into KINTAI_HISTORY
		values (kintai_seq.nextval,
		#{shain_no}, #{kintai_km}, #{nyuryoku_ymd,
		jdbcType=TIMESTAMP},
		#{kaishi_ymd, jdbcType=TIMESTAMP}, #{shuryo_ymd,
		jdbcType=TIMESTAMP},
		#{kintai_hour}, #{kintai_pay})
	</insert>

	<select id="search" parameterType="java.lang.String"
		resultType="org.zerock.domain.KintaiHistoryVO">
		SELECT * FROM KINTAI_HISTORY WHERE shain_no = #{shain_no}
	</select>

	<select id="read" resultType="org.zerock.domain.KintaiHistoryVO">
		select * from Kintai_history where
		shain_no = #{shain_no}
	</select>

	<select id="findBykintaiHistory"
		resultType="org.zerock.domain.KintaiHistoryVO">

		select * from Kintai_history where shain_no = #{shain_no}
		and
		TO_CHAR(nyuryoku_ymd, 'YYYY-MM') = #{kizoku_ym}

	</select>


	<select id="getDataByMonth"
		resultType="org.zerock.domain.KintaiHourVO">
	<![CDATA[
	    SELECT
	    	kh.shain_no,
	    	TO_CHAR(kh.kaishi_ymd, 'YYYY-MM') AS kaishi_month,
	    	TO_CHAR(kh.shuryo_ymd, 'YYYY-MM') AS shuryo_month,
	    	k.kintai_tani,
	    	SUM(kintai_hour) AS total_kintai_hour
		FROM
		    kintai_history kh
		    JOIN kintai k ON kh.kintai_km = k.kintai_km
		WHERE
		    TO_CHAR(kh.kaishi_ymd, 'YYYY-MM') = #{searchMonth, jdbcType=VARCHAR}
		    OR TO_CHAR(kh.shuryo_ymd, 'YYYY-MM') = #{searchMonth, jdbcType=VARCHAR}
		GROUP BY
		    kh.shain_no,
		    TO_CHAR(kh.kaishi_ymd, 'YYYY-MM'),
		    TO_CHAR(kh.shuryo_ymd, 'YYYY-MM'),
		    k.kintai_tani
	]]>
	</select>

	<select id="getDataByD"
		resultType="org.zerock.domain.KintaiHourVO">
	<![CDATA[
	    SELECT
		    kh.shain_no,
		    TO_CHAR(kh.kaishi_ymd, 'YYYY-MM') AS kaishi_month,
		    TO_CHAR(kh.shuryo_ymd, 'YYYY-MM') AS shuryo_month,
		    k.kintai_tani,
		    SUM(kintai_hour) AS total_kintai_hour
		FROM
		    kintai_history kh
		    JOIN kintai k ON kh.kintai_km = k.kintai_km
		WHERE
		    (TO_CHAR(kh.kaishi_ymd, 'YYYY-MM') = #{searchMonth, jdbcType=VARCHAR}
		    OR TO_CHAR(kh.shuryo_ymd, 'YYYY-MM') = #{searchMonth, jdbcType=VARCHAR})
		    AND k.kintai_tani = 'D'
		GROUP BY
		    kh.shain_no,
		    TO_CHAR(kh.kaishi_ymd, 'YYYY-MM'),
		    TO_CHAR(kh.shuryo_ymd, 'YYYY-MM'),
		    k.kintai_tani
	]]>
	</select>

	<select id="getKHour" resultType="org.zerock.domain.KyukaHourVO">
	<![CDATA[
	    SELECT
	    	kh.shain_no,
	    	EXTRACT(YEAR FROM kh.kaishi_ymd) AS kaishi_year,  
	    	EXTRACT(YEAR FROM kh.shuryo_ymd) AS shuryo_year,  
	    	k.kintai_tani,
	    	SUM(kintai_hour) AS total_kintai_hour
		FROM
		    kintai_history kh
		    JOIN kintai k ON kh.kintai_km = k.kintai_km
		WHERE
		    (EXTRACT(YEAR FROM kh.kaishi_ymd) = EXTRACT(YEAR FROM CURRENT_DATE)
		    OR EXTRACT(YEAR FROM kh.shuryo_ymd) = EXTRACT(YEAR FROM CURRENT_DATE))
		    AND k.kintai_tani = 'D'
		GROUP BY
		    kh.shain_no,
		    EXTRACT(YEAR FROM kh.kaishi_ymd),  
		    EXTRACT(YEAR FROM kh.shuryo_ymd),  
		    k.kintai_tani
	]]>
	</select>

	<select id="getShain"
		resultType="org.zerock.domain.KintaiHistoryVO" parameterType="string">
    <![CDATA[
		SELECT
			kh.shain_no, 
			kh.nyuryoku_ymd,
			kh.kintai_km,
			kh.kaishi_ymd,
			kh.shuryo_ymd,
			kh.kintai_hour
		FROM
			kintai_history kh
			JOIN kintai k ON kh.kintai_km = k.kintai_km
		WHERE
			kh.shain_no = #{shain_no}
			AND EXTRACT(YEAR FROM kh.kaishi_ymd) = EXTRACT(YEAR FROM SYSDATE)
			AND EXTRACT(YEAR FROM kh.shuryo_ymd) = EXTRACT(YEAR FROM SYSDATE)
			AND k.kintai_tani = 'D'
    ]]>
	</select>

	<select id="getByKintaiNo"
		resultType="org.zerock.domain.KintaiHistoryVO">
		select * from kintai_history where kintai_no = #{kintai_no}
	</select>

	<update id="update">
		UPDATE kintai_history
		SET
		kintai_km = #{kintai_km},
		nyuryoku_ymd = #{nyuryoku_ymd},
		kaishi_ymd = #{kaishi_ymd},
		shuryo_ymd = #{shuryo_ymd},
		kintai_hour = #{kintai_hour},
		kintai_pay = #{kintai_pay}
		WHERE kintai_no = #{kintai_no}
	</update>
	
	<delete id="delete">
		delete from kintai_history WHERE kintai_no = #{kintai_no}
	</delete>
</mapper>