<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ShainMapper">

	<select id="getCount" resultType="int">
		select count(*) from shain
	</select>

	<select id="getCountByEmpType" resultType="int"
		parameterType="String">
		SELECT COUNT(*) FROM shain WHERE koyo_keitai =
		#{empType}
	</select>

	<select id="getCountByStateType" resultType="int"
		parameterType="String">
		select count(*) from shain where zaishoku_st =
		#{stateType}
	</select>

	<insert id="insert">
  	<![CDATA[
      INSERT INTO shain (
        shain_no, shain_nm, address, birth, busho_nm, yakushoku_nm, kihon_pay,
        renraku_tel, renraku_email, nyusha_ymd, taishoku_ymd, ginko_nm,
        koza_num, zaishoku_st, kyuka, koyo_keitai
      )
      VALUES (
        #{shain_no}, #{shain_nm}, #{address}, #{birth}, #{busho_nm}, #{yakushoku_nm},
        #{kihon_pay}, #{renraku_tel}, #{renraku_email}, #{nyusha_ymd, jdbcType=TIMESTAMP},
        NULL, #{ginko_nm}, #{koza_num}, '在職', NULL, #{koyo_keitai}
      )
    ]]>
	</insert>

	<select id="getList" resultType="org.zerock.domain.ShainVO">
		select * from shain order by
		shain_no
	</select>

	<select id="getListByKoyoKeitai"
		resultType="org.zerock.domain.ShainVO">
		select * from shain where koyo_keitai = #{koyo_keitai}
	</select>

	<select id="getListByZaishokuSt"
		resultType="org.zerock.domain.ShainVO">
		select * from shain where zaishoku_st = #{zaishoku_st}
	</select>

	<select id="read" resultType="org.zerock.domain.ShainVO">
		select * from shain where shain_no
		= #{shain_no}
	</select>

	<update id="update">
		update Shain
		set
		kihon_pay = #{kihon_pay}
		where
		shain_no= #{shain_no}
	</update>

	<update id="updateTaishokuYMD"
		parameterType="org.zerock.domain.TaishokuVO">
		UPDATE shain
		SET taishoku_ymd = #{taishoku_ymd,
		jdbcType=TIMESTAMP}, zaishoku_st =
		'退職'
		WHERE shain_no = #{shain_no}
	</update>

	<update id="cancelShain"
		parameterType="org.zerock.domain.TaishokuVO">
		UPDATE shain SET
		taishoku_ymd = NULL, zaishoku_st = '在職'
		WHERE shain_no =
		#{shain_no}
	</update>

	<!-- 영광 -->
	<select id="findByShain_no"
		resultType="org.zerock.domain.ShainVO">
		SELECT * FROM shain WHERE shain_no IN (
		SELECT shain_no FROM
		kyuyo_history WHERE kizoku_ym = #{kizoku_ym}
		) ORDER by shain_no
	</select>

	<delete id="delete">
		delete from shain where shain_no = #{shain_no}
	</delete>

	<!-- 목록 보여주기 용 -->
	<!-- Mapper XML 파일의 일부분 -->

	<select id="getKoyoKeitai" resultType="string">
		SELECT DISTINCT koyo_keitai
		FROM shain
	</select>

	<!-- 휴가15일추가 -->
	<update id="addKyuka" parameterType="org.zerock.domain.ShainVO">
		update shain set kyuka =
		kyuka +15 where rownum >0
	</update>

	<!-- shainModify -->
	<update id="modify" parameterType="org.zerock.domain.ShainVO">
		update Shain set
		shain_nm=#{shain_nm},
		address=#{address},
		birth=#{birth},
		busho_nm=#{busho_nm},
		yakushoku_nm=#{yakushoku_nm},
		kihon_pay=#{kihon_pay},
		renraku_tel=#{renraku_tel},
		renraku_email=#{renraku_email},
		nyusha_ymd=#{nyusha_ymd},
		taishoku_ymd=null,
		ginko_nm=#{ginko_nm},
		koza_num=#{koza_num},
		zaishoku_st='在職',
		kyuka=null,
		koyo_keitai=#{koyo_keitai}
		where
		shain_no=#{shain_no}
	</update>

	<select id="get" resultType="org.zerock.domain.ShainVO"
		parameterType="String">
		select * from shain where shain_no=#{shain_no}
	</select>

	<select id="selectByShainNos" resultType="org.zerock.domain.ShainVO">
		SELECT * FROM shain WHERE SHAIN_NO IN
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item, jdbcType=VARCHAR}
		</foreach>
	</select>

	<select id="getKihonPay" resultType="org.zerock.domain.ShainVO">
		select kihon_pay from shain
		where shain_no=#{shain_no}
	</select>
	
	<select id="getShainInfo" resultType="org.zerock.domain.ShainVO">
		select shain_no, shain_nm, address, birth, yakushoku_nm from shain
		where shain_no=#{shain_no}
	</select>
</mapper>