<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 속성값은 Mapper 인터페이스와 동일한 이름으로 작성한다. -->
<mapper namespace="org.zerock.mapper.SikyuMapper">
	<!-- id 속성값은 메서드 이름과 동일하게 작성한다. -->
	<!-- resultType 속성의 값은 select 쿼리의 결과를 특정 클래스의 객체로 만들기 위해서 설정한다. -->
	<select id="getList" resultType="org.zerock.domain.SikyuVO">
		select * from Sikyu
	</select>

	<select id="get" resultType="org.zerock.domain.SikyuVO">
		select * from sikyu
	</select>

	<select id="getBySikyuKm" resultType="org.zerock.domain.SikyuVO">
		select * from sikyu where
		sikyu_km = #{sikyu_km}
	</select>

	<update id="update" parameterType="Map">
		UPDATE sikyu
		SET
		sikyu_km = #{vo.sikyu_km},
		kazei_active = #{vo.kazei_active, jdbcType=CHAR},
		hikazei_nm = #{vo.hikazei_nm},
		hikazei_limit = #{vo.hikazei_limit},
		sikyu_tani = #{vo.sikyu_tani, jdbcType=CHAR},
		ikkatsu_pay = #{vo.ikkatsu_pay},
		sikyu_active = #{vo.sikyu_active,jdbcType=CHAR}
		WHERE sikyu_km = #{target_km}
	</update>

	<insert id="create" parameterType="org.zerock.domain.SikyuVO">
        <![CDATA[
        INSERT INTO sikyu VALUES (#{sikyu_km}, #{kazei_active, jdbcType=CHAR}, #{hikazei_nm}, #{hikazei_limit}, #{sikyu_tani, jdbcType=CHAR}, #{ikkatsu_pay}, #{sikyu_active, jdbcType=CHAR})
        ]]>
	</insert>

	<delete id="delete">
		delete from sikyu where
		sikyu_km = #{sikyu_km}
	</delete>
	
	<select id="getCount" resultType="int">
		select count(*) from sikyu
	</select>

</mapper>