<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.TaishokuMapper">

	<select id="getTaishokuVO"
		resultType="org.zerock.domain.TaishokuVO">
		SELECT shain.ZAISHOKU_ST,
		shain.shain_no, shain.shain_nm, shain.busho_nm, shain.yakushoku_nm,
		shain.nyusha_ymd, shain.taishoku_ymd, taishoku.taishoku_pay,
		taishoku_renraku, taishoku_jiyu
		FROM shain
		LEFT JOIN taishoku ON shain.shain_no = taishoku.shain_no
		ORDER BY shain.shain_no

	</select>

	<insert id="insertTaishoku">
		INSERT INTO taishoku (shain_no, taishoku_jiyu,
		taishoku_renraku)
		VALUES (#{shain_no}, #{taishoku_jiyu},
		#{taishoku_renraku})
	</insert>

	<delete id="deleteTaishoku">
		DELETE from taishoku where shain_no= #{shain_no}
	</delete>

	<select id="taishokuSet"
		resultType="org.zerock.domain.TaishokuVO">
		SELECT taishoku_jiyu,
		taishoku_renraku
		FROM taishoku
		WHERE
		shain_no = #{shain_no}
	</select>

	<select id="getTaishokuInfo"
		resultType="org.zerock.domain.TaishokuVO">
		SELECT shain.shain_no, shain.taishoku_ymd,
		taishoku.taishoku_jiyu, taishoku.taishoku_renraku
		FROM shain
		LEFT JOIN
		taishoku ON shain.shain_no = taishoku.shain_no
		WHERE shain.shain_no =
		#{shain_no}
	</select>
	<!-- 사원 넘버를 기준으로, 이 사람의 퇴직정보가 있는지 확인. 이유는 있으면 update, 없으면 insert 하기 위함. -->

	<update id="updateTaishoku">
		UPDATE taishoku
		SET taishoku_jiyu = #{taishoku_jiyu},
		taishoku_renraku =
		#{taishoku_renraku}
		WHERE shain_no = #{shain_no}
	</update>

	<!-- 퇴사사유등을업데이트하기위함. -->
	<update id="cancelTaishoku">
		UPDATE taishoku
		SET taishoku_jiyu = null,
		taishoku_renraku = null,
		taishoku_pay = 0
		WHERE shain_no = #{shain_no}
	</update>
</mapper>